In [1]:
# Loading the Train_data
import pandas as pd

train_data = pd.read_csv(r'C:\Users\lenovo\Desktop\ExcelR\Assingments\Data Science\17. SVM\SVM_SalaryData_Train.csv')
train_data

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30156,27,Private,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
30157,40,Private,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
30158,58,Private,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
30159,22,Private,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
30160,52,Self-emp-inc,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [2]:
# Data types of train_data
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30161 entries, 0 to 30160
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   age            30161 non-null  int64
 1   workclass      30161 non-null  object
 2   education      30161 non-null  object
 3   educationno    30161 non-null  int64
 4   maritalstatus  30161 non-null  object
 5   occupation     30161 non-null  object
 6   relationship   30161 non-null  object
 7   race           30161 non-null  object
 8   sex            30161 non-null  object
 9   capitalgain    30161 non-null  int64
 10  capitalloss    30161 non-null  int64
 11  hoursperweek   30161 non-null  int64
 12  native         30161 non-null  object
 13  Salary         30161 non-null  object
dtypes: int64(5), object(9)
memory usage: 3.2+ MB

In [3]:
# Label Encoding of the target
from sklearn.preprocessing import LabelEncoder

train_data['Salary'] = LabelEncoder().fit_transform(train_data['Salary'])
train_data

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,0
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,0
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,0
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,0
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30156,27,Private,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,0
30157,40,Private,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,1
30158,58,Private,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,0
30159,22,Private,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,0
30160,52,Self-emp-inc,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,1

In [4]:
df = pd.get_dummies(train_data.iloc[:,:-1])
df

,age,educationno,capitalgain,capitalloss,hoursperweek,workclass_ Federal-gov,workclass_ Local-gov,workclass_ Private,workclass_ Self-emp-inc,workclass_ Self-emp-not-inc,...,native_ Portugal,native_ Puerto-Rico,native_ Scotland,native_ South,native_ Taiwan,native_ Thailand,native_ Trinadad&Tobago,native_ United-States,native_ Vietnam,native_ Yugoslavia
0,39,13,2174,0,40,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,50,13,0,0,13,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
2,38,9,0,0,40,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
3,53,7,0,0,40,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
4,28,13,0,0,40,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30156,27,12,0,0,38,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
30157,40,9,0,0,40,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
30158,58,9,0,0,40,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
30159,22,9,0,0,20,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
30160,52,9,15024,0,40,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0

In [5]:
# One Hot Encoding of the features and seggregating features and target
x = pd.get_dummies(train_data.iloc[:,:-1]).values
y = train_data['Salary'].values

In [6]:
# Feature Engineering
from sklearn.tree import DecisionTreeClassifier

# feature extraction
model = DecisionTreeClassifier()
model.fit(x,y)
print(model.feature_importances_)

[1.67292340e-01 1.23910729e-01 1.19122497e-01 4.18540727e-02
 9.77646942e-02 6.58835469e-03 8.87586668e-03 1.27193871e-02
 7.74836618e-03 1.09474295e-02 6.42585952e-03 0.00000000e+00
 3.76461610e-04 6.82032185e-04 2.44381242e-04 1.09216459e-04
 3.64075109e-04 5.63001773e-04 3.94820010e-04 2.84048244e-03
 2.73721958e-03 3.86839126e-03 3.47541176e-04 5.16100475e-03
 3.04744306e-03 1.92139462e-04 8.08402722e-04 3.69995528e-03
 3.23438723e-03 2.85728753e-04 2.15430160e-01 1.23531799e-03
 3.03651057e-03 9.27117906e-04 9.71577964e-04 4.79176336e-03
 0.00000000e+00 7.48735713e-03 1.03001067e-02 3.16721580e-03
 3.68070371e-03 4.60498715e-03 4.57199241e-03 0.00000000e+00
 9.71097008e-03 3.73905968e-03 9.58254378e-03 5.71009606e-03
 6.36559624e-03 2.77491067e-03 4.16634487e-03 1.11797031e-03
 1.99778747e-03 2.39773254e-03 6.15789777e-03 1.94548264e-03
 2.25687337e-03 5.39862143e-03 8.79728594e-04 7.51534940e-03
 5.08650809e-03 6.38051942e-03 5.92065695e-04 1.48534957e-03
 1.14496229e-04 1.23028989e-04 9.30103628e-04 0.00000000e+00
 7.61499924e-05 3.20947242e-05 1.14094902e-03 2.16684790e-04
 1.56775267e-03 4.46731627e-04 2.36240594e-04 5.44939127e-05
 0.00000000e+00 3.31222972e-04 1.20052041e-04 7.02439192e-04
 6.43759028e-04 1.66730563e-04 9.10230350e-04 6.49907756e-04
 1.12011474e-03 1.77598024e-04 5.94843876e-04 1.44426259e-04
 0.00000000e+00 1.95242906e-04 1.37251952e-03 4.24567100e-04
 1.74590672e-04 1.64709038e-04 0.00000000e+00 1.00607072e-03
 1.59670151e-04 4.01184052e-04 1.76839058e-04 7.02222416e-03
 2.91030249e-04 4.38801668e-04]

In [7]:
for i in range(0,101):
    if model.feature_importances_[i] > 0.006:
        print(i,model.feature_importances_[i] )

0 0.1672923402594602
1 0.12391072934908665
2 0.11912249733146815
3 0.041854072742303274
4 0.0977646941768408
5 0.006588354690019928
6 0.008875866683623092
7 0.012719387125844141
8 0.007748366178170833
9 0.010947429478493333
10 0.006425859516214571
30 0.2154301597677235
37 0.007487357126193958
38 0.010300106661086307
44 0.009710970084980161
46 0.009582543776847145
48 0.006365596243652298
54 0.006157897765108556
59 0.007515349403363669
61 0.006380519421292587
99 0.007022224164188257

In [8]:
X_train = pd.concat([df.iloc[:,0],df.iloc[:,1],df.iloc[:,2],df.iloc[:,3],df.iloc[:,4],df.iloc[:,5],df.iloc[:,6],\
                     df.iloc[:,7],df.iloc[:,8],df.iloc[:,9],df.iloc[:,10],df.iloc[:,30],df.iloc[:,37],df.iloc[:,38],\
                    df.iloc[:,44],df.iloc[:,46],df.iloc[:,47],df.iloc[:,48],df.iloc[:,59],df.iloc[:,99]],axis=1)
X_train

,age,educationno,capitalgain,capitalloss,hoursperweek,workclass_ Federal-gov,workclass_ Local-gov,workclass_ Private,workclass_ Self-emp-inc,workclass_ Self-emp-not-inc,workclass_ State-gov,maritalstatus_ Married-civ-spouse,occupation_ Craft-repair,occupation_ Exec-managerial,occupation_ Prof-specialty,occupation_ Sales,occupation_ Tech-support,occupation_ Transport-moving,race_ White,native_ United-States
0,39,13,2174,0,40,0,0,0,0,0,1,0,0,0,0,0,0,0,1,1
1,50,13,0,0,13,0,0,0,0,1,0,1,0,1,0,0,0,0,1,1
2,38,9,0,0,40,0,0,1,0,0,0,0,0,0,0,0,0,0,1,1
3,53,7,0,0,40,0,0,1,0,0,0,1,0,0,0,0,0,0,0,1
4,28,13,0,0,40,0,0,1,0,0,0,1,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30156,27,12,0,0,38,0,0,1,0,0,0,1,0,0,0,0,1,0,1,1
30157,40,9,0,0,40,0,0,1,0,0,0,1,0,0,0,0,0,0,1,1
30158,58,9,0,0,40,0,0,1,0,0,0,0,0,0,0,0,0,0,1,1
30159,22,9,0,0,20,0,0,1,0,0,0,0,0,0,0,0,0,0,1,1
30160,52,9,15024,0,40,0,0,0,1,0,0,1,0,1,0,0,0,0,1,1

In [9]:
y_train = y

## Model

In [10]:
# Model 1
from sklearn.svm import SVC
T = SVC(kernel = 'rbf')
T.fit(X_train,y_train)

SVC()

In [11]:
# Model 2
U = SVC(kernel = 'poly')
U.fit(X_train,y_train)

SVC(kernel='poly')

In [18]:
# Model 3
V = SVC(kernel = 'sigmoid')
V.fit(X_train,y_train)

SVC(kernel='sigmoid')

In [13]:
# Loading the test_data
test_data = pd.read_csv(r'C:\Users\lenovo\Desktop\ExcelR\Assingments\Data Science\17. SVM\SVM_SalaryData_Test.csv')

test_data['Salary'] = LabelEncoder().fit_transform(test_data['Salary'])

x_test_data = pd.get_dummies(test_data.iloc[:,:-1])
x_test_data

,age,educationno,capitalgain,capitalloss,hoursperweek,workclass_ Federal-gov,workclass_ Local-gov,workclass_ Private,workclass_ Self-emp-inc,workclass_ Self-emp-not-inc,...,native_ Portugal,native_ Puerto-Rico,native_ Scotland,native_ South,native_ Taiwan,native_ Thailand,native_ Trinadad&Tobago,native_ United-States,native_ Vietnam,native_ Yugoslavia
0,25,7,0,0,40,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
1,38,9,0,0,50,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
2,28,12,0,0,40,0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,44,10,7688,0,40,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
4,34,6,0,0,30,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15055,33,13,0,0,40,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
15056,39,13,0,0,36,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
15057,38,13,0,0,50,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
15058,44,13,5455,0,40,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
15059,35,13,0,0,60,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0

In [14]:
X_test = pd.concat([x_test_data.iloc[:,0],x_test_data.iloc[:,1],x_test_data.iloc[:,2],x_test_data.iloc[:,3],\
                    x_test_data.iloc[:,4],x_test_data.iloc[:,5],x_test_data.iloc[:,6],x_test_data.iloc[:,7],\
                    x_test_data.iloc[:,8],x_test_data.iloc[:,9],x_test_data.iloc[:,10],x_test_data.iloc[:,30],\
                    x_test_data.iloc[:,37],x_test_data.iloc[:,38],x_test_data.iloc[:,42],x_test_data.iloc[:,44],\
                    x_test_data.iloc[:,46],x_test_data.iloc[:,47],x_test_data.iloc[:,59],x_test_data.iloc[:,99]], axis=1)
y_test = test_data['Salary'].values

## Testing the model with test_data

In [15]:
# Testing Model 1
y_pred = T.predict(X_test)

from sklearn.metrics import classification_report, confusion_matrix
print(confusion_matrix(y_test, y_pred))
print(classification_report(y_test, y_pred))

[[10997   363]
 [ 2703   997]]
              precision    recall  f1-score   support

           0       0.80      0.97      0.88     11360
           1       0.73      0.27      0.39      3700

    accuracy                           0.80     15060
   macro avg       0.77      0.62      0.64     15060
weighted avg       0.79      0.80      0.76     15060

In [16]:
# Testing Model 2
y_pred = U.predict(X_test)

from sklearn.metrics import classification_report, confusion_matrix
print(confusion_matrix(y_test, y_pred))
print(classification_report(y_test, y_pred))

[[11356     4]
 [ 3316   384]]
              precision    recall  f1-score   support

           0       0.77      1.00      0.87     11360
           1       0.99      0.10      0.19      3700

    accuracy                           0.78     15060
   macro avg       0.88      0.55      0.53     15060
weighted avg       0.83      0.78      0.70     15060

In [19]:
# Testing Model 3
y_pred = V.predict(X_test)

from sklearn.metrics import classification_report, confusion_matrix
print(confusion_matrix(y_test, y_pred))
print(classification_report(y_test, y_pred))

[[10553   807]
 [ 2856   844]]
              precision    recall  f1-score   support

           0       0.79      0.93      0.85     11360
           1       0.51      0.23      0.32      3700

    accuracy                           0.76     15060
   macro avg       0.65      0.58      0.58     15060
weighted avg       0.72      0.76      0.72     15060